<ion-header #header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
 
  <p id="winter">
    겨울의 힘- 치유력
    내면의 겨울은 주기의 시작이자 끝입니다. 월경 때 몸에 순종하고 우리의 내면이 베푸는 선물을 온전히 받아들일 때 이어질 내면의 봄·여름·가을의 준비를 완벽히 마치게 됩니다. 겨울은 휴식하고 회복하고 새롭게 태어날 준비를 하는 시기입니다. 내면의 치유력이 가장 극대화되는 때가 바로 월경(겨울)입니다. 몸의 활력은 일시적으로 작동 정지를 하는 듯 바닥을 치지만, 더 깊고 섬세해진 마음은 지난 주기 동안 방치되었던 내면의 상처를 살피고 치유합니다. 월경은 재생의 시간입니다. 
    몸과 마음의 건강을 유지함에 있어 가장 중요한 것이 활동과 휴식의 균형을 잡는 것입니다. 월경 때 쉬고, 배란 때 활동하고 성장하는 주기의 리듬을 지킬 때 월경은 여성의 삶에 중요한 버팀목이 됩니다. 월경의 휴식을 통해 각성한 영성은 우리의 삶을 치유하고 비전과 명료한 방향을 제시해 줍니다. 새로운 봄을 맞을 채비를 하는 겁니다.
  </p>
  <p id="spring">
    봄의 힘- 순수함과 자유로움
    내면의 봄은 여름을 향한 싹을 틔우는 때입니다. 우리 안의 순수함과 자유로움이 빛을 발하는 시기입니다. 섬세하고 유연한 마음으로 자신이 누구인지, 하는 일은 무엇인지 새롭게 탐색해 보세요. 어린 시절의 자유를 다시금 누려보세요. 성과나 결과물에 대해 마음 쓰기보다는 즐긴다는 마음으로 시도하고 실험해 보세요. 하지만 너무 서두르지는 마세요. 우리의 몸과 마음은 아직 여립니다. 차오르는 에너지를 한 번에 방전시키지 않도록 주의해야 합니다. 서서히 날아오르는 상승곡선을 탈 때 비로소 우리의 와일드파워는 여름의 정상에 오를 것입니다.
  </p>
  <p id="summer" #summer>
    여름의 힘- 당신이 바로 세상의 여왕입니다
    내면의 여름은 여성으로서 성숙한 당신을  축복하는 시간입니다. 에너지가 점점 높아지고 의욕이 솟아 납니다. 더 큰 자신감을 느끼고 타인과의 관계도 적극적으로 변합니다. 배란기에 관심은 바깥 세상에서의 성공으로 향합니다. 당신의 사회적인 유능함은 정점에 달하고, 넘치는 힘과 야망 속에 스스로를 ‘슈퍼우먼’처럼 느끼기도 합니다. 여름에 당신은 매력적이고 흥미롭고 너그러운 사람입니다. 몸은 기쁨에 눈을 뜨고, 관능적인 쾌락이 우리를 사로잡습니다. '나'를 세상에 드러내는 흥분되고 짜릿한 순간을 놓치지 마세요. 유일무이한 당신의 개성을 아낌없이 펼쳐보일 때입니다. 
    그러나 모든 것에는 끝이 있습니다. 내면의 여름은 우리를 '여왕'으로 만들어주지만 그 유효기한은 길어야 10일입니다. 우리는 다음주기를 기약하며 여름을 떠나 보내야 합니다. 하지만 오해하지 마세요. 이것은 '추락'이 아니라 '깊어짐'입니다.
  </p>
  <p id="autumn" #autumn>
    가을의 힘- 내면의 신전을 여는 '열쇠'
    배란기가 끝나면 우리는 월경에 이르기까지 ‘깊어지는 길’ 을 걷게 됩니다. 깊어지는 길 위에서는 우리는 스스로를 더 명료하게 인식합니다. 마치 가을의 투명한 대기처럼 우리의 바람과 현실 사이의 간극을 더 정확하게 파악합니다. 여성이 월경을 앞두면 횡설수설하며 비합리적인 생각에 빠진다는 말은 사실이 아닙니다. 그보다는 삶의 복잡성과 감성적인 측면을 더 많이 고려하는 지성에 바탕을 두고 삶에 임한다고 말하는 것이 정확합니다. 예민해지고 섬세해진 영혼은 더 멀리 꿰뚫어 보는 힘이 있습니다.
    가을에 당신은 세상과 이별하고 스스로에게로 돌아오라는 강력한 내면의 메시지를 받습니다. 주위의 잡음과 부조리한 요구들을 밀쳐내고 마음의 그늘 속에 방치돼 있던 상처를 마주해야 할 '진실의 순간'입니다. 월경 직전의 예민함, 분노, 자기 비판은 모두 이 진실과 직결되어 있습니다. 밀려드는 생각과 느낌을 부정하기보단, 우리 내면의 -고개를 숙이고 움츠리고 있는- 어린 소녀를 안아 주세요. 자신의 약함을 보듬고, 살아가는 동안 겪을 수 밖에 없는 거칠고 복잡한 혼란상을 온전히 포용할 때, 비로소 당신 내면의 신전이 열릴 것입니다. 우리는 이 순간을 '성배(the holy grail)'라고 부릅니다.
  </p>

</ion-content>
