<div class="container"
  *ngIf = "!withFortune"
  [style.backgroundImage]="'url(./assets/' + this.card.picture + ')'"
>
  <div class="controls">
    <div class="info">
      <h2>{{ this.card.name }}</h2>
      <p>{{ this.card.fortune }}</p>
    </div>
    <ion-button (click)="selectCardEmit()" color="light" class="like">
      <ion-icon name="heart"></ion-icon>
    </ion-button>
  </div>
</div>
<div class="containerWithFortune" 
  *ngIf = "withFortune"
> 
  <div class="title">
    <h2>{{ this.selectedCard.name }}</h2>
    <h5>subtitle</h5>
  </div>
  <div class="pictureWithFortune">
    <p class="fortune">{{ this.selectedCard.fortune }}</p>
    <img [src] = "'./assets/' + this.selectedCard.picture" alt="this.selectedCard.name">
  </div>
  <div class="moreInfo">
    <p>더 자세한 내용을 알고 싶으시다면...</p>
  </div>
</div>