//$purple: #260124;
//$cream: #eaf6fd;//#e7dec6;


ion-header{
  text-align: center;
  background: #260124;//#260124;

  ion-toolbar{
    --background: #260124;//#260124fe;
    ion-title {
      .title-text{
        color: #e7dec6;//white;
        font-family: GowunBatang-Bold;
        font-size: 15pt;
      }    
    }
  }  
}

ion-content{
  --background: 
  radial-gradient(
      circle at 50% 0,
      rgba(242, 77, 184, 0.4),
      rgba(242, 77, 184, 0)
      70.71%
    ),
    radial-gradient(
      circle at 6.7% 75%,
      rgba(143, 108, 249, 0.4),
      rgba(108, 108, 249, 0) 
      70.71%
    ),
    radial-gradient(
      circle at 93.3% 75%,
      rgba(129, 99, 247, 0.4),
      rgba(99, 171, 247, 0)
    ) 
    beige;

  

  ion-list{
    background: transparent;//#eaf6fd;//#e7dec6;
    ion-item{
      --background: transparent;//#eaf6fd;//#e7dec6;
      color: #0d011a;//#260124;
      font-size: 11pt;
      
      ion-label{
        .item-text{
          font-family: GowunBatang-Bold;
        }
      }
      ion-button{
        --background: white;
        --background-hover: #df4fe1;
        .button-text{
          font-size: 10pt;
          color: #260124;//#c5a3cb;//#260124;
          font-family: GowunBatang-Bold;
        }
      }
      .guide{
        font-size: 12pt;
        color: #0e010e;
        font-family: GowunBatang-Regular;
      }
    }    
  }  
}

ion-footer{
  ion-button {
    --background: #260124;//#260124;
    --background-hover: #430240;
    ion-icon{
      color: #e7dec6;
    }
  }

  .footer-text {
    font-family: GowunBatang-Bold;
    font-size: 14pt;
    color: #e7dec6;//white;
  }

}



