ion-title {
  text-align: center;
}

ion-header {
  padding: 10px 10px 0px 10px;
}

ion-tab-bar {
  border: none;
}

.containerWithFortune {
  //background-color: #fbfbfb;
  //background-size: cover;
  //height: 100%;
  //border-radius: 10px;
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;//설정할 경우 .mordInfo와 충돌 왜?
  // align-items: flex-start;
  text-align: justify;
  // align-content: flex-start;
  // align-items: flex-start;
}

.fortuneWithPicture{
  display: flex;
  flex-direction: row;
  
}

.title{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.fortune{
  margin-right: 10px;
  //padding: 10px;
}

.moreInfo{
  margin: 50px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
  
}

img {
   margin-top: 15px;
   width: 50%;
   height: 50%;
 }

 .selectedCardWithoutFortune {
  background-color: #fbfbfb;
  background-size: cover;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

// .controls {
//   width: 100%;
//   background-color: rgba(0, 0, 0, 0.3);
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
// }

// .info {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   align-items: center;
//   text-align: center;
//   color: #fff;
// }