<ion-header class="ion-no-border">
  <ion-toolbar>
      <!-- <ion-title size="small">타로 블러드</ion-title>  -->
      <ion-title size="large">첫번째 카드</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.showOrHideFortune()">
        <ion-icon src="./assets/icon/md-arrow-dropright.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
  <app-card-stack (infinite)="loadMore($event)">
    <app-card 
      *ngFor="let card of cards"
      [card]="card"
      [withFortune]="this.withFortune"
      (watched)="handleWatched($event)"
      (selectCard)="selectCard($event)"
    ></app-card>
  </app-card-stack>
</ion-content>
<ion-footer>
  <ion-tab-bar>
    <ion-tab-button>
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-tab-button>  
     <ion-tab-button (click)="handleWatched($event)"> 
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="/period-picker">
      <ion-icon name="settings-outline" ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
