<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-title size="small"> 타로 블러드 : 
        <span *ngIf="!this.cardsInfo.isCardSelected">{{ this.titles[titleIndex] }}</span>
        <span *ngIf="this.cardsInfo.isCardSelected">오늘의 카드</span>
      </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showOrHideFortune()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
  <span class="beforeSelected"  *ngIf="!this.cardsInfo.isCardSelected">
    <app-card-stack *ngIf = "!this.withFortune" (infinite)="loadMore($event)">
      <app-card 
        *ngFor="let card of cards"
        [card]="card"
        (watched)="handleSwiped($event)"
        (selectCard)="selectCard($event)"
      ></app-card>
    </app-card-stack>
    <div *ngIf = "this.withFortune" class="containerWithFortune"> 
      <div class="title">
        <h3>{{ this.cardOnScreen.name }}</h3>
      </div>
      <div class="headline">
        <p>{{ this.cardOnScreen.headline }}</p>
      </div>
        <img [src] = "'./assets/' + this.cardOnScreen.picture" alt="this.selectedCard.name">
        <p class="fortune">{{ this.cardOnScreen.fortune }}</p>
        <ion-button class="moreInfo" size="small" color="light" routerLink="/info">
          더 자세한 내용을 알고 싶으시다면...
      </ion-button>
    </div>
    
  </span>
  <span class="afterSelected" *ngIf="this.cardsInfo.isCardSelected" >
    <div  *ngIf = "!this.withFortune"
      class ="selectedCardWithoutFortune"
      [style.backgroundImage]="'url(./assets/' + this.selectedCard.picture + ')'">
    </div>
    <div *ngIf = "this.withFortune" class="containerWithFortune">
      <div class="title">
        <h3>{{ this.selectedCard.name }}</h3>
      </div>
      <div class="headline">
        <p>{{ this.selectedCard.headline }}</p>
      </div>
        <img [src] = "'./assets/' + this.selectedCard.picture" alt="this.selectedCard.name">
        <p class="fortune">{{ this.selectedCard.fortune }}</p>
        <ion-button class="moreInfo" size="small" color="light" routerLink="/info">
          더 자세한 내용을 알고 싶으시다면...
        </ion-button>
    </div>
    
  </span>
</ion-content>
<ion-footer>
  <ion-tab-bar>
    <ion-tab-button routerLink="/info">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-tab-button>  
     <ion-tab-button (click)="refreshCards()"> 
      <ion-icon name="repeat-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="/period-picker">
      <ion-icon name="settings-outline" ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
