<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large">타로 블러드</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
  <app-card-stack *ngIf = "!this.isCardSelected" (infinite)="loadMore($event)">
    <app-card 
      *ngFor="let card of cards"
      [card]="card"
      (watched)="handleWatched($event)"
      (selectCard)="selectCard($event)"
    ></app-card>
  </app-card-stack>
  <div *ngIf = "this.isCardSelected" class="container" [style.backgroundImage]="'url(./assets/' + this.selectedCard.picture + ')'">
    <div class="info">
      <h2>{{ this.selectedCard.name }}</h2>
      <p>{{ this.selectedCard.fortune }}</p>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-tab-bar>
    <ion-tab-button>
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-tab-button>  
     <ion-tab-button (click)="handleWatched($event)"> <!-- 임시추가-->
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button routerLink="/periodPicker">
      <ion-icon name="settings-outline" ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
